*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}

h1{
    color: gray;
    margin-bottom: 20px;
    font-size: 2rem;
}

.board{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.list{
    background-color: rgb(214, 224, 224);
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list h2{
    color: rgb(177, 170, 170);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card{
    background-color: rgb(238, 232, 224);
    color: gray;
    padding: 1 rem;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:active{
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-over{
    background-color: #d1d3d8;

}

@media (max-with: 768px) {
    .board {
        flex-direction: column;
        align-items: center;
    }

    .list{
        width: 80%;
        margin-bottom: 20px;
    }
}
